<div class="box">
    <div class="label left" *ngIf="label === 'before'">
        <ng-container *ngTemplateOutlet="labelTpl"></ng-container> 
    </div>

    <label class="switch" [ngClass]="{ 'disabled': disabled }">
        <input type="checkbox" [ngClass]="{ 'checked': value }">
        <span class="slider round" (click)="toggleState()"></span>
    </label>

    <div class="label right" *ngIf="label === 'after'">
        <ng-container *ngTemplateOutlet="labelTpl"></ng-container> 
    </div>
</div>

<ng-template #labelTpl>
    <ng-content></ng-content>
</ng-template>
